.center { text-align: center; }
.floatl { float: left; }
.floatr { float: right; }
.justify { text-align: justify; }
a {
  color: #4682B4;
  text-decoration: none;
}
body {
  margin: 50px;
  background-color: #ffefd5;
  font-family: "Palatino Linotype";
}